* {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    transition: all 0.15s;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 50px 0 0;
    margin: 0;
    background: rgb(197,240,246);
    background: linear-gradient(311deg, rgba(197,240,246,1) 10%, rgba(243,255,255,1) 68%, rgba(249,245,245,1) 100%);
    background-position: center;
    overflow-x: hidden;
}

:root {
    --main-color: rgb(0, 150, 136);
    --txt-color: black;
    --blur-color: rgb(167, 166, 166);
    --bg-color: white;
    --main-txt: 6em;
    --second-txt: 1.25em;
    --normal-txt: 1em;
    --third-txt: 1.75em;
    --img-txt: 1.5em;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: rgb(197,240,246);
    background: linear-gradient(311deg, rgba(197,240,246,1) 10%, rgba(243,255,255,1) 68%, rgba(249,245,245,1) 100%); 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    z-index: 10000;
}

.logo-container {
    width: 75px;
    height: 75px;
    cursor: pointer;
}

.logo-container img {
    width: 100%;
    
}

.logo-container img:hover {
    transform: scale(1.5);
}

#first-icon {
    display: none;
}

.left-container {
    width: 100%;
}

.links-container {
    width: 100%;
}

nav .link-container a {
    text-decoration: none;
    color: var(--txt-color);
    padding: 5 15px;
    margin-right: 20px;
    font-size: var(--second-txt);
    font-style: italic;
}

nav .link-container a:hover {
    font-size: 1.5em;
    color: var(--main-color);
}

.btn-container a {
    color: var(--main-color);
    background-color: var(--bg-color);
    padding: 5px 25px;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    font-size: var(--second-txt);
    text-decoration: none;
    cursor: pointer;
}

.btn-container a:hover {
    color: var(--bg-color);
    background-color: var(--main-color);
    transform: scale(1.1);
}

.btn-container:hover {
    transform: scale(1.1);
}

/* Main Section*/

.main-page {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;
}

.left-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.first-txt {
    font-size: var(--second-txt);
    color: var(--main-color);
    font-weight: bold;
    margin-bottom: 30px;
}

.big-txt {
    font-size: var(--main-txt);
    margin-top: -40px;
    font-style: italic;
}

.sub-txt {
    font-size: var(--second-txt);
    color: var(--blur-color);
    display: flex;
    flex-wrap: wrap;
}

.sub-txt span {
    color: var(--main-color);
    font-weight: bold;
}

.right-container {
    width: 100%;
    padding: 50px 80px;
}

.main-img-container {
    width: 275px;
    height: 275px;
    border-radius: 137.5px;
    position: relative;
    border: 5px solid var(--main-color);
    margin-top: 50px;
    cursor: pointer;
}

.main-img-container:hover {
    transform: scale(1.1);
}

.img-container {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid var(--blur-color);
}

.img-container img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.links-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.links-container-content a{
    color: var(--main-color);
    font-size: var(--third-txt);
    margin-right: 10px;
}

.links-container-content:hover{
    transform: scale(1.1);
}

.button-container {
    margin-top: 40px;
}

.button-container a{
    text-decoration: none;
    color: var(--bg-color);
    background-color: var(--main-color);
    padding: 5px 25px;
    border: none;
    border-radius: 20px;
    font-size: var(--second-txt);
    cursor: pointer;
}

.button-container a:hover {
    padding: 7px 27px;
}

/*Projects*/

.main-projects-container {
    width: 80%;
    margin: 50px auto 0;
    padding-top: 100px;
}

.project-txt {
    text-align: center;
    font-size: var(--third-txt);
    color: var(--main-color);
    margin-bottom: 30px;
    font-style: italic;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.left-img-container,
.right-img-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}


.my-projects-container {
    width: 100%;
}

.my-projects-container img{
    width: 100%;
    cursor: pointer;
}

.my-projects-container img:hover {
    transform: scale(1.1);
    filter: grayscale(40%);
}

/*About*/

.about-container {
    width: 80%;
    margin: 50px auto 0;
    padding-top: 100px;
}

.about-container-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.about-main-txt {
    color: var(--main-color);
    font-size: var(--third-txt);
    font-style: italic;
    text-align: center;
    margin-bottom: 30px;
}

.left-about-container {
    width: 100%;
}

.left-about-container img {
    max-width: 100%;
}

.right-about-container {
    font-size: var(--second-txt);
    font-style: italic;
}

.name-txt {
    font-style: italic;
    font-weight: bold;
}

.age-txt,
.year-txt,
.course-txt,
.study-txt,
.take-course-txt {
    font-weight: 500;
}

.certificates {
    text-align: center;
    font-weight: bold;
}

.certificates-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.left-certificates-container {
    width: 100%;
}

.left-certificates-container img {
    max-width: 60%;
    border-radius: 20px;
}

.right-certificates-container {
    width: 100%;
}

.right-certificates-container img {
    max-width: 60%;
    border-radius: 20px;
}

.left-certificates-container img:hover,
.right-certificates-container img:hover {
    transform: scale(1.1);
}

/*Contact*/

.contact-container {
    width: 80%;
    margin: 50px auto 0;
    padding-top: 100px;
}

.contact-main-txt {
    color: var(--main-color);
    font-size: var(--third-txt);
    font-style: italic;
    text-align: center;
    margin-bottom: 30px;
}

.contact-container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    gap: 40px;
    font-weight: 500;
}

.left-contact-container-content {
    width: 50px;
}

.left-contact-container-content a {
    font-size: var(--third-txt);
    color: var(--main-color);
}

.left-contact-container-content:hover {
    transform: scale(1.1);
}

.right-contact-container-content {
    flex: 1;
}

/*Footer*/

footer {
    margin-top: 150px;
    height: 250px;
    font-size: var(--third-txt);
    background-color: white;
    text-align: center;
    display: grid;
    place-items: center;
}


@media (max-width: 800px){
    body {
        display: grid; 
        place-items: center;
    }
    header {
        padding: 0 10px;
        justify-content: space-between;
    }
    #first-icon {
        display: block;
    }
    .link-container {
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        bottom: 0;
        background: var(--main-color);
        color: var(--bg-color);
        padding: 20px;
    }
    nav {
        order: 2;
    }
    .btn-container {
        order: 1;
    }
    .link-container a {
        display: block;
        padding: 10px 20px;
        color: var(--bg-color);
    }
    .main-page {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .projects-container {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .about-container-content {
        grid-template-columns: 1fr;
        width: 100%;
    }
    footer {
        width: 100%;
    }
}